<aside class="col-md-4">

    <div class="widget widget-recent-posts">
        <h3 class="widget-title">最新相册</h3>
        <ul>

            <li>
                <a href="#">相册标题</a>
            </li>


        </ul>
    </div>
    <div class="widget widget-archives">
        <h3 class="widget-title">归档</h3>
        <ul>

            <li>
                <a href="#">&nbsp;年&nbsp;&nbsp;月</a>
            </li>


        </ul>
    </div>

    <div class="widget widget-category">
        <h3 class="widget-title">分类</h3>
        <ul>

            <li>
                <a href="#">分类名<span class="post-count">(11)</span></a>
            </li>

        </ul>
    </div>

    <div class="widget widget-tag-cloud">
        <h3 class="widget-title">标签云</h3>
        <ul>

            <li>
                <a href="#">标签</a>
            </li>

        </ul>
    </div>
    <div class="rss">

    </div>
</aside>
