{% extends 'base.html' %}

{% block content %}
{% include 'flash_message.html' %}

{% include 'user_menu.html' %}

    <div >
        <div class="col-md-10" >
            <div class="jumbotron" style="padding-top: 1px">
              <h3>修改个人密码</h3>
             <hr>

             <form role="form"  method="post" >

                 <div class="form_group">
                     原密码:
                     {{ form.old_password }}
                 </div>
                 <div class="form_group">
                     新密码:
                     {{ form.user_password }}
                 </div>

                 <div class="form_group">
                     确认新密码:
                     {{ form.user_password2 }}
                 </div>

                 <div class="form_group">
                     {% csrf_token %}
                    <button type="submit" class="btn btn-primary">修改</button>

                 </div>

                </div>
             </form>
        </div>
    </div>

{% endblock %}

{% block js_code %}
<script type="text/javascript">
    $(document).ready(
      function(){
      }
    );
    $('#item_2').addClass('list-group-item-warning')

</script>
{% endblock %}
